<html>
    <head>
        <title>Minhas Disciplinas</title>
        <meta charset="UTF-8">
        <link href="{{ url_for ('static', filename='disciplina.css')}}" rel="stylesheet">
    </head>

    <body>
  
        <div id = "header">
            <img src="../../static/imagens/logo.png" alt="Minerva" class= "m-image">
            <div  id= "p">
                <div id= "profile-box">
                    <img src="../../static/imagens/profile-user (1) 1.png" alt="profile" id= "profile">
                    <p id = "profileName">Aluno</p>
                </div>

                <a href="/login" id= "leave">
                    <img src="../../static/imagens/logout (1) 1.png" alt="leave">

                </a>
            </div>
        </div>  

        <div id = "main">
        <div id= "header2">
            <h1>Linguagens de Programação</h1>
           <div id = "search">
                <p id = "profileName">Pesquisar:</p>
                <input type="text" class="input">
                <input type = "submit" id = "button" value="Buscar">
            </div> 
     
        </div>
           <div id = "info"><p>Código da disciplina: 1223 | Período: 2020.2</p></div>
        <div id = "videos">
           
           
            <div class ="materia-container" id = "ad">
                <img src="../../static/imagens/plus (2) 1 (1).png" alt="leave" id= "plus">
                <p id="profileName">Adicionar Vídeo</p>
                
            </div>
            <a href="/materia/video"><div id ="video">
               <div class ="materia-container">
                <div class = "info-container">
                    <h4 id ="infodd">Aula 1</h4>
                    <h5>Descrição:</h6> 
                    <p id ="infod">Aula introdutória da disciplina.</p> 
                </div>
               </div>
                </a>
                
            </div>  
                
        
    
        </div>
        </div>

    </body>
</html>
